{% extends 'base.html' %}
{% block content %}
<div class="container">
    
        <div class="row justify-content-center mt-5">
          <div class="col-lg-10 col-md-8">
    <table class="table caption-top">
        <caption>ENERGY CONSUMPTION TABLE</caption>
        <thead>
          <tr>
            <th scope="col">BUILDING</th>
            <th scope="col">METER INVOLVED</th>
            <th scope="col">ENERGY CONSUMPTION </th>
            <th scope="col">DATE RECORDED</th>
            
          </tr>
        </thead>
        <tbody>
            {% for x in results %}
          <tr>
            <th scope="row">{{x.meter_id.bulding_id.name}}</th>
            <th scope="row">{{x.meter_id}}</th>
            <td>{{x.consumption}} {{x.meter_id.unit}}</td>
            <td>
                {{x.reading_date_time}}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
          </div>
       
    </div>
</div>
{% endblock %}