{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-lg-8 col-md-8">
            {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert alert-success" role="alert">
          {{message|safe}}
        </div>
        {% endfor %}
    {% endif %}
            
    <table class="table caption-top">
        <caption class="text-center text-uppercase">List of buildings and meters serving them</caption>
        <thead>
            <tr>
            <th scope="col">BULDING ID</th>
            <th scope="col">BULDING NAME</th>
            <th scope="col">RELATED METER(click to view)</th>
          </tr>
        </thead>
        <tbody>
            {% for x in buildings %}
          <tr>
            <th scope="row">{{x.id}}</th>
            <td>{{x.name}}</td>
            <td>
                {% for i in x.meters %}
                <a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">{{i.id}}</a>
                <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{i.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">METER {{i.id}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <strong>BUILDING:</strong> {{i.building.name}}
                          <br>
                         <strong>FUEL:</strong> {{i.fuel}}
                          <br>
                         <strong>UNIT: </strong> {{i.unit}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if buildings.has_other_pages %}
      <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if buildings.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ buildings.previous_page_number }}">Previous</a></li>
        {% else %}
          
        {% endif %}
        {% for i in buildings.paginator.page_range %}
          {% if buildings.number == i %}
          <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            
          {% else %}
          <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
           
          {% endif %}
        {% endfor %}
        {% if buildings.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ buildings.next_page_number }}">Next</a></li>
          
        {% else %}
         
        {% endif %}
      </ul>
    </nav>
    {% endif %}
          </div>
       
    </div>
</div>
{% endblock %}