{% extends 'base.html' %} {% block content %}
<style>
    .card {
        margin: 5% 0%;
        width: 50%;
    }
    
    .card-body {
        margin: 0% 0% 0% 3%;
        padding: 6% 0%;
    }
</style>
<br><br><br><br>
<div style="display: flex;  flex-wrap: wrap; justify-content: center;">
    <div id="container" style="width: 30%;" class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="text-center"><strong>METER STATS</strong></h4>
        <canvas id="population-chart" data-url="{% url 'pie' %}"></canvas>
    </div>
    
</div>

<script>
    $(function() {

        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function(data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: data.title,
                            backgroundColor: data.backgroundColor,
                            borderColor: data.borderColor,
                            borderWidth: 1,
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: data.title
                        }
                    }
                });

            }
        });
    });
</script>
{% endblock %}
